<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="css/admin.main.css">
  <link rel="stylesheet" href="css/admin.fontawesome.all.min.css">
</head>

<body>
  <%- include('partials/navbar') %>

    <div class="flex-content">
      <%- include('partials/sidebar') %>

        <main class="container main-calculated">
          <div class="pagination">
            <a href="home" class="text-primary">
              <i class="fa-solid fa-house fs-16"></i>
            </a>
            <span class="fs-18">/</span>
            <span class="current-page fs-14">Blogs</span>

          </div>

          <div class="content-box fs-14 shadow">
            <div class="content-header">
              <h4 class="content-title fs-16">All Blogs</h4>
              <div class="content-events">
                <a href="/admin/blogs/add" class="add">
                  <i class="fa-solid fa-plus"></i>
                  Add
                </a>
                <button onclick="notAllowAlert()" href="#" class="export">
                  <i class="fa-solid fa-file-arrow-down"></i>
                  Export
                </button>
              </div>
            </div>
            <div style="overflow-x: auto;">
              <% if(blogs.length===0){ %>
                <div style="margin-top: 15px;" class="fs-12">No data found</div>
                <%} else{ %>
                  <table class="content-table">
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th class="action-row">
                          <div class="w-70">Action</div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <% blogs.forEach((blog,index)=> {%>
                        <tr>
                          <td class="w-50">
                            <div class="content-img">
                              <img src="<%= blog.preview_img %>" class="w-50" alt="Blog Image">
                            </div>
                          </td>
                          <td class="w-100">
                            <div class="line-1 ">
                              <%=blog.blog_title%>
                            </div>
                          </td>
                          <td class="action-row two-action">
                            <div class="w-100">
                              <a href="/admin/blogs/update/<%=blog.id%>" class="edit">
                                <i class="fa-solid fa-file-pen"></i>
                              </a>
                              <button onclick="deleteBlog('<%= blog.id %>')" class="delete">
                                <i class="fa-solid fa-trash"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                        <% });%>

                    </tbody>
                  </table>

                  <% } %>

            </div>
          </div>
        </main>
    </div>
    <script src="js/admin.main.js"></script>
    <script src="js/admin.requests.js"></script>
    <script src="js/admin.sweetalert.js"></script>
    <script src="js/admin.customSweetAlert.js"></script>

</body>

</html>