<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="../../css/admin.quill.snow.css">
  <link rel="stylesheet" href="../../../css/admin.main.css">
  <link rel="stylesheet" href="../../../css/admin.fontawesome.all.min.css">
</head>

<body>
  <%- include('partials/navbar') %>

    <div class="flex-content">
      <%- include('partials/sidebar') %>

        <main class="container main-calculated">
          <div class="pagination">
            <a href="/admin/home" class="text-primary">
              <i class="fa-solid fa-house fs-16"></i>
            </a>
            <span class="fs-18">/</span>
            <a href="/admin/blogs" class="text-primary fs-14">
              Blogs
            </a>
            <span class="fs-18">/</span>
            <span class="current-page fw-bold fs-14">Edit Blog</span>

          </div>

          <div class="content-box fs-14 shadow">
            <div class="content-header">
              <h4 class="content-title fs-16">Edit Blog</h4>
            </div>
            <div>
              <form action="/blog/share-blog" method="post">
                <div class="form-input">
                  <label for="blog_title" class="text-primary">
                    Blog Title
                  </label>
                  <input value="<%= blog.blog_title %>" type="text" name="blog_title" id="blog_title">
                </div>
                <div class="form-input thumnail-image">
                  <label for="blog_image" class="text-primary">Blog Image</label>
                  <input type="file" name="blog_image" id="preview_img" accept="image/png, image/gif, image/jpeg">
                  <div>
                    <img src="<%= blog.preview_img %>" alt="Blog Preview Image">
                  </div>

                </div>
                <div class="form-input">
                  <label for="blog_text" class="text-primary">Blog Text</label>
                  <div id="editor">
                    <%- blog.blog_text %>
                  </div>
                </div>
                <div class="divider"></div>
                <button onclick="questionAndActionAlert(() => { updateBlog('<%= blog.id %>') })" type="button"
                  class="submit-btn fs-14">
                  <i class="fa-solid fa-floppy-disk"></i>
                  Save
                </button>
              </form>
            </div>
          </div>
        </main>
    </div>
    <script src="../../js/admin.main.js"></script>
    <script src="../../js/admin.quill.js"></script>
    <script src="../../js/admin.requests.js"></script>
    <script src="../../js/admin.sweetalert.js"></script>
    <script src="../../js/admin.customSweetAlert.js"></script>
    <script>
      const quill = new Quill('#editor', {
        theme: 'snow',
        placeholder: 'Start writing testimonial here or paste',

      });
    </script>
    <script>
      async function setImageToFileInput(imageUrl, fileInputId) {
        const response = await fetch(imageUrl);
        const blob = await response.blob();
        const file = new File([blob], "<%=blog.image_name%>", { type: blob.type });

        const dataTransfer = new DataTransfer();
        dataTransfer.items.add(file);

        document.getElementById(fileInputId).files = dataTransfer.files;
      }

      // Kullanım
      setImageToFileInput('<%=blog.preview_img%>', 'preview_img');
    </script>
</body>

</html>