<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="css/admin.main.css">
  <link rel="stylesheet" href="css/admin.fontawesome.all.min.css">
</head>

<body>
  <%- include('partials/navbar') %>

    <div class="flex-content">
      <%- include('partials/sidebar') %>
        <main class="container main-calculated">
          <div class="pagination">
            <a href="/admin/home" class="text-primary">
              <i class="fa-solid fa-house fs-16"></i>
            </a>
            <span class="fs-18">/</span>
            <span class="current-page fs-14">Feedbacks</span>

          </div>

          <div class="content-box fs-14 shadow">
            <div class="content-header">
              <h4 class="content-title fs-16">All Feedbacks</h4>
              <div class="content-events">
                <button onclick="notAllowAlert()" href="#" class="export">
                  <i class="fa-solid fa-file-arrow-down"></i>
                  Export
                </button>
              </div>
            </div>
            <div style="overflow-x: auto;overflow-y: auto;max-height: 400px;">
              <% if(user_feedbacks.length===0){ %>
                <div style="margin-top: 15px;" class="fs-12">No data found</div>
                <%} else{ %>
                  <table class="content-table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th class="action-row">
                          <div class="w-70">Action</div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <% user_feedbacks.forEach((user_feedback)=> {%>
                        <tr>
                          <td>
                            <div style="width: 150px;" class="line-1 w-500">
                              <%= user_feedback.name %>
                            </div>
                          </td>
                          <td>
                            <div style="width: 200px;" class="line-1 w-250px">
                              <%= user_feedback.email %>
                            </div>
                          </td>
                          <td>
                            <div class="w-250px line-2">
                              <%= user_feedback.subject %>
                            </div>
                          </td>
                          <td>
                            <div class="w-400px line-3">
                              <%= user_feedback.message %>
                            </div>
                          </td>

                          <td class="action-row">
                            <div class="w-70">
                              <button onclick="deleteFeedback('<%=user_feedback.id%>')" class="delete">
                                <i class="fa-solid fa-trash"></i>
                              </button>
                              <button class="show modal-open-btn" data-modal="modal<%=user_feedback.id%>">
                                <i class="fa-solid fa-eye"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                        <div id="modal<%=user_feedback.id%>" class="modal">
                          <div class="modal-content">
                            <span class="modal-close">&times;</span>
                            <div>
                              <h4 class="feedback-subject fw-bold">
                                <%= user_feedback.subject %>
                              </h4>
                              <div class="divider"></div>
                              <div class="feedback-modal-person-info">
                                <div>
                                  <i class="fa-solid fa-user"></i>
                                  <span class="line-1">
                                    <%= user_feedback.name %>
                                  </span>
                                </div>
                                <div>
                                  <i class="fa-solid fa-calendar-days"></i>
                                  <span>
                                    <%= user_feedback.createdat %>
                                  </span>
                                </div>
                                <div>
                                  <i class="fa-solid fa-envelope"></i>
                                  <span>
                                    <%= user_feedback.email %>
                                  </span>
                                </div>
                              </div>
                              <p class="feedback-text">
                                <%= user_feedback.message %>
                              </p>
                            </div>
                            <div class="divider"></div>
                            <div class="action-row">
                              <div>
                                <button onclick="deleteFeedback('<%=user_feedback.id%>')" class="delete">
                                  <i class="fa-solid fa-trash"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% });%>
                    </tbody>
                  </table>
                  <%} %>
            </div>
          </div>

        </main>
    </div>

    <script src="js/admin.main.js"></script>
    <script src="js/admin.requests.js"></script>
    <script src="js/admin.sweetalert.js"></script>
    <script src="js/admin.customSweetAlert.js"></script>
    <script src="js/admin.modal.js"></script>


</body>

</html>