<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body class="portfolio-details-page">

    <%- include('partials/navbar', {data:"blog-active", sub_directory:true} ) %>

      <main class="main">

        <%- include('partials/header') %>

          <!-- Portfolio Details Section -->
          <section id="portfolio-details" class="portfolio-details section">

            <div class="container" data-aos="fade-up">

              <div class="row justify-content-center align-items-center gy-4 mt-4">
                <div class="col-lg-6" data-aos="fade-up">
                  <img class="blog-preview-img" src="<%= blog.preview_img %>" alt="">
                  <div class="portfolio-description">
                    <h2>
                      <%= blog.blog_title %>
                    </h2>
                    <p>
                      <%- blog.blog_text %>
                    </p>
                  </div>
                </div>
              </div>

            </div>

          </section><!-- /Portfolio Details Section -->

      </main>

      <%- include('partials/footer') %>

  </body>

</html>