<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {data:"portfolio-active"}) %>

  <body class="index-page">

    <%- include('partials/navbar', {data:"portfolio-active"} ) %>

      <main class="main">
        <%- include('partials/header') %>
          <!-- Portfolio Section -->
          <section id="portfolio" class="portfolio section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
              <h2>Portfolio</h2>
              <div><span>Check Our</span> <span class="description-title">Portfolio</span></div>
            </div><!-- End Section Title -->

            <div class="container">
              <div class="row g-0 ">
                <% portfolios.forEach((portfolio,index)=> {%>
                  <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item  ">
                    <div class="portfolio-content h-100">
                      <img src="<%= portfolio.preview_img %>" class="img-fluid" alt="">
                      <div class="portfolio-info">
                        <a href="<%= portfolio.preview_img %>" data-gallery="portfolio-gallery-app"
                          class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                      </div>
                    </div>
                  </div><!-- End Portfolio Item -->
                  <% });%>
              </div><!-- End Portfolio Container -->
            </div>

          </section><!-- /Portfolio Section -->

      </main>

      <%- include('partials/footer') %>

  </body>

</html>